.user-info {
  display: table;
  .ava, .info {
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
  }
  .inner-info {
    padding-left: 60px;
    color: #4C4C4C;
    font-size: 14px;
    .current-score {
      font-size: 24px;
      color: #000;
      margin-right: 10px;
    }
  }
}
