
.sidebar scroll-y-fix=true
  div ng-include="'/app/templates/common/_sidebar.html'"
.main flex=true layout="column"
  div flex=true layout="column" ng-include="'/app/templates/common/_cqi_tasks.html'" scroll-y-fix=true
